@using ProyectoIntegrador.LogicaNegocio.Entidades
@model FacturaNoFiscalArtesano
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory factory

@{
    var localizer = factory.Create("Resource", "ProyectoIntegrador_Web");
}

<div class="text-center">
    <h2>@localizer["ResumenVentas"]</h2>
    <p>
        @localizer["DescripcionResumenVentas"]
    </p>
</div>

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h4 class="mb-3">
            @localizer["ParaArtesano"] - @Model.Artesano.nombre
        </h4>

        <h5 class="mb-3">
            @localizer["PorLaVentaDe"]
        </h5>

        <div class="row">
            @foreach (var lineaFactura in Model.itemsFactura)
            {
                <div class="col-md-4 mb-3">
                    <div class="card h-100 bg-light border-secondary">
                        <div class="card-body">
                            <h6 class="card-title fw-bold product-title">
                                @lineaFactura.NombreProducto
                            </h6>

                            <p class="mb-1">
                                <strong>@localizer["Precio"]:</strong> $@lineaFactura.precioUnitario
                            </p>

                            <p class="mb-1">
                                <strong>@localizer["Cantidad"]:</strong> @lineaFactura.cantidad
                            </p>

                            <p class="mb-0">
                                <strong>@localizer["Subtotal"]:</strong>
                                $@(lineaFactura.precioUnitario* lineaFactura.cantidad)
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <hr />

        <div class="d-flex justify-content-between">
            <p class="mb-0">
                <strong>@localizer["TotalVendido"]:</strong> $@Model.Total
            </p>
            <p class="mb-0">
                <strong>@localizer["Fecha"]:</strong> @Model.Fecha.ToString("dd/MM/yyyy")
            </p>
        </div>
    </div>
</div>