@using ProyectoIntegrador.LogicaNegocio.Entidades
@model FacturaNoFiscalCliente
@{
    Layout = null;
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    h2, h5 {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h2>Factura no fiscal</h2>

<hr />
        <h5>Cliente: @Model.Cliente.nombre</h5>

        <h5>Por la compra de:</h5>
        <div>
            @foreach (var lineaFactura in Model.itemsFactura)
            {
                <h5>Artesano:</h5> 
                @lineaFactura.producto.artesano.nombre
                <h5>Producto:</h5> 
                @lineaFactura.producto.nombre
                <h5>Precio:</h5> 
                @lineaFactura.producto.precio
            }
        </div>
  
        <p>Total pagado: $@Model.Total</p>
        <p>Fecha: @Model.Fecha.ToString("dd/MM/yyyy")</p>
<hr />

<p>Documento generado automáticamente.</p>