@using System.Globalization

@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory factory
@{
    var localizer = factory.Create("Resource", "ProyectoIntegrador_Web");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoIntegrador_Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIntegrador_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    @await RenderSectionAsync("Head", required: false)
</head>



<body class="d-flex flex-column min-vh-100 @ViewData["BodyClass"]">

    <div id="globalLoader" class="d-none">
        <div class="loader-backdrop"></div>

        <div class="loader-box text-center">
            <div class="spinner-border" role="status"></div>
            <div id="loaderMessage" class="mt-2 fw-semibold">@localizer["Procesando"]</div>
            <div class="small text-muted">@localizer["PorFavorEspera"]</div>
        </div>
    </div>

    <header class="layout-background">
        <nav class="navbar navbar-expand-sm box-shadow bg-transparent">
        <div class="container-fluid ">

                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    HechoXMí
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">

                    @{
                        var rol = Context.Session.GetString("Rol")?.ToUpper();
                        var email = Context.Session.GetString("loginUsuario");
                    }

                    <!-- IZQUIERDA -->
                    <ul class="navbar-nav me-auto align-items-center gap-2">

                        <!-- IDIOMA -->
                        <li class="nav-item">
                            <form asp-controller="Home"
                                  asp-action="CambiarIdioma"
                                  method="post"
                                  class="d-flex">

                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />

                                <select name="culture"
                                        onchange="this.form.submit()"
                                        class="form-select form-select-sm">

                                    <option value="es"
                                            selected="@(CultureInfo.CurrentUICulture.Name.StartsWith("es"))">
                                        @localizer["Espanol"]
                                    </option>

                                    <option value="en-US"
                                            selected="@(CultureInfo.CurrentUICulture.Name == "en-US")">
                                        @localizer["Ingles"]
                                    </option>

                                </select>
                            </form>
                        </li>

                        <!-- OPCIONES SEGÚN ROL -->
                        @if (rol == "CLIENTE")
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Usuario"
                                   asp-action="Catalogo">
                                    @localizer["VerCatalogo"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="PedidoPersonalizado"
                                   asp-action="Crear">
                                    @localizer["PedidoPersonalizado"]
                                </a>
                            </li>
                        }

                        @if (rol == "ARTESANO")
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Producto"
                                   asp-action="AltaProducto">
                                    @localizer["AgregarProducto"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Artesano"
                                   asp-action="ProductosDelArtesano">
                                    @localizer["TusProductos"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Artesano"
                                   asp-action="Dashboard">
                                    @localizer["TusVentas"]
                                </a>
                            </li>
                        }

                    </ul>

                    <!-- DERECHA -->
                    <ul class="navbar-nav ms-auto align-items-center gap-2">

                        <!-- LOGIN -->
                        @if (string.IsNullOrEmpty(email))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success"
                                   asp-controller="Login"
                                   asp-action="Login">
                                    Iniciar sesión
                                </a>
                            </li>
                        }

                        <!-- CARRITO -->
                        @if (rol == "CLIENTE")
                        {
                            <li class="nav-item">
                                <a class="nav-link position-relative"
                                   asp-controller="Carrito"
                                   asp-action="Index">

                                    <img src="~/images/carrito/carrito.png"
                                         style="width:28px;" />

                                    @await Component.InvokeAsync("CarritoCantidad")
                                </a>
                            </li>
                        }

                        <!-- PERFIL -->
                        @if (!string.IsNullOrEmpty(email))
                        {
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                    @email
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end">

                                    @if (rol == "CLIENTE")
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Cliente"
                                               asp-action="Perfil">
                                                @localizer["Perfil"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Cliente"
                                               asp-action="ProductosFavoritos">
                                                @localizer["Favoritos"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="FacturaNoFiscal"
                                               asp-action="FacturasDelCliente">
                                                @localizer["Compras"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item text-danger"
                                               asp-controller="Cliente"
                                               asp-action="Logout">
                                                @localizer["CerrarSesion"]
                                            </a>
                                        </li>
                                    }

                                    @if (rol == "ARTESANO")
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Artesano"
                                               asp-action="PerfilArtesano">
                                                @localizer["Perfil"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="FacturaNoFiscal"
                                               asp-action="FacturasArtesano">
                                                @localizer["HistorialFacturas"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="PedidoPersonalizado"
                                               asp-action="MisEncargos">
                                                @localizer["MisEncargos"]
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item text-danger"
                                               asp-controller="Artesano"
                                               asp-action="Logout">
                                                @localizer["CerrarSesion"]
                                            </a>
                                        </li>
                                    }

                                    @if (rol == "ADMIN")
                                    {
                                        <li>
                                            <a class="dropdown-item text-danger"
                                               asp-controller="Admin"
                                               asp-action="Logout">
                                                @localizer["CerrarSesion"]
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid px-0">

        @if (TempData.ContainsKey("Mensaje"))
        {
            var tipo = "success";

            if (TempData.ContainsKey("TipoMensaje"))
            {
                tipo = TempData["TipoMensaje"]?.ToString() ?? "success";
            }

            <div class="alert alert-@tipo alert-dismissible fade show mx-3 mt-3" role="alert">
                @TempData["Mensaje"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }

        @* <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            @TempData["Mensaje"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div> *@

        <main role="main" class="flex pb-3-fill ">
            @RenderBody()
        </main>
    </div>


    <footer class="bg-dark text-light mt-auto">

        <div class="container py-3">

            <div class="row text-center text-md-start">

                <!-- INFO -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">@localizer["ProyectoIntegrador"]</h6>

                    <p class="small mb-0">
                        @localizer["PlataformaDescripcion"] 💙
                    </p>
                </div>

                <!-- SOPORTE -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">@localizer["Soporte"]</h6>

                    <a href="mailto:soporte@proyectointegrador.com"
                       class="text-decoration-none text-info small">

                        📧 soporte@proyectointegrador.com
                    </a>
                </div>

                <!-- INSTITUCIONAL -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">@localizer["Institucional"]</h6>

                    <p class="small mb-0">
                        📚 @localizer["ProyectoAcademico"]<br />
                        @localizer["Ingenieria"]
                    </p>
                </div>

            </div>

            <hr class="border-secondary my-2" />

            <div class="text-center small">
                &copy; @DateTime.Now.Year — Proyecto Integrador
            </div>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        function showLoader(message) {
            const loader = document.getElementById("globalLoader");
            const msg = document.getElementById("loaderMessage");

            if (msg && message) {
                msg.textContent = message;
            }

            if (loader) {
                loader.classList.remove("d-none");
            }
        }

        function hideLoader() {
            const loader = document.getElementById("globalLoader");
            if (loader) loader.classList.add("d-none");
        }

        document.addEventListener("submit", function (e) {
            const form = e.target;
            if (!(form instanceof HTMLFormElement)) return;

            if (!form.classList.contains("js-loader")) return;

            const method = (form.getAttribute("method") || "get").toLowerCase();
            if (method !== "post") return;

            const customMessage = form.getAttribute("data-loader-text");

                 showLoader(customMessage || "Procesando...");
        → showLoader(customMessage || '@localizer["Procesando"]');

            const btns = form.querySelectorAll("button[type='submit'], input[type='submit']");
            btns.forEach(b => b.disabled = true);
        });

        window.addEventListener("pageshow", hideLoader);
    </script>


    <form id="antiForgeryForm" style="display:none;">
        @Html.AntiForgeryToken()
    </form>

</body>


</html>


