<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoIntegrador_Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIntegrador_Web.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100 @ViewData["BodyClass"]">
    <header class="layout-background">
        <nav class="navbar navbar-expand-sm box-shadow bg-transparent">
        <div class="container-fluid ">

                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    HechoXMí
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav w-100 align-items-center">

                        @{
                            var rol = Context.Session.GetString("Rol")?.ToUpper();
                            var email = Context.Session.GetString("loginUsuario");
                        }

                        <!-- NO LOGUEADO -->
                        @if (rol == null)
                        {
                            <li class="nav-item ms-auto">
                                <a class="btn btn-success"
                                asp-controller="Login"
                                asp-action="Login">
                                    Iniciar sesión
                                </a>
                            </li>



                        }

                        <!-- LOGUEADO -->
                        @if (rol != null)
                        {
                            @if (rol == "CLIENTE"){
                            <li>
                                <a class="dropdown-item dropdown-item-catalogo"
                                   asp-controller="Usuario"
                                   asp-action="Catalogo">
                                    <i class="bi bi-grid-3x3-gap me-2"></i>
                                    Ver catálogo
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item dropdown-item-catalogo"
                                   asp-controller="PedidoPersonalizado"
                                   asp-action="Crear">
                                    Hacer pedido personalizado
                                </a>
                            </li>
                            }

                            @if (rol == "ARTESANO")
                            {
                                <li>
                                    <a class="dropdown-item dropdown-item-catalogo"
                                       asp-controller="Producto"
                                       asp-action="AltaProducto">
                                        Agregar producto
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item dropdown-item-catalogo"
                                       asp-controller="Artesano"
                                       asp-action="ProductosDelArtesano">
                                        Tus productos
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item dropdown-item-catalogo"
                                       asp-controller="Artesano"
                                       asp-action="Dashboard">
                                        Tus ventas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-item-catalogo"
                                    asp-controller="PedidoPersonalizado"
                                       asp-action="PedidosPersonalizados">
                                        Pedidos personalizados
                                    </a>
                                </li>

                            }
                            <!-- BARRA DE BÚSQUEDA -->
                            @if (rol == "CLIENTE" || rol == "ARTESANO" || rol == "ADMIN")
                            {
                                <li class="nav-item dropdown">
                               @*      <button class="nav-link dropdown-toggle"
                                            type="button"
                                            data-bs-toggle="dropdown">
                                        Barra de búsqueda
                                    </button> *@

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Usuario"
                                               asp-action="BusquedaDeUsuarios">
                                                Usuarios
                                            </a>
                                        </li>

                                        @* SOLO CLIENTE *@
                                        @if (rol == "CLIENTE" || rol == "ADMIN")
                                        {
                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="Producto"
                                                   asp-action="ProductosFiltrados">
                                                    Productos
                                                </a>
                                            </li>
                                           

                                        }
                                    </ul>
                                </li>
                            }
                           
                         


                            <!-- PERFIL A LA DERECHA -->
                            <li class="nav-item dropdown ms-auto">
                                <button class="nav-link dropdown-toggle"
                                        type="button"
                                        data-bs-toggle="dropdown">
                                    @email
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end">

                                    @* CLIENTE *@
                                    @if (rol == "CLIENTE")
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Cliente"
                                               asp-action="Perfil">
                                                Perfil
                                            </a>
                                        </li>
                                       @*  <li>
                                            <a class="dropdown-item"
                                               asp-controller="PedidoPersonalizado"
                                               asp-action="Crear">
                                                Hacer pedido personalizado
                                            </a>
                                        </li> *@
                                       
                                       @*  <li>
                                            <a class="dropdown-item"
                                               asp-controller="Carrito"
                                               asp-action="Index">
                                                Ver mi carrito
                                            </a>
                                        </li> *@
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="FacturaNoFiscal"
                                               asp-action="FacturasDelCliente">
                                                Compras
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger fw-semibold"
                                               asp-controller="Cliente"
                                               asp-action="Logout">
                                                Cerrar sesión
                                            </a>
                                        </li>
                                       
                                    }

                                    @* ARTESANO *@
                                    @if (rol == "ARTESANO")
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Artesano"
                                               asp-action="PerfilArtesano">
                                                Perfil
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="FacturaNoFiscal"
                                               asp-action="FacturasArtesano">
                                                Historial de facturas
                                            </a>
                                        </li>
                                      

                                       @*  <li>
                                            <a class="dropdown-item"
                                               asp-controller="PedidoPersonalizado"
                                               asp-action="PedidosPersonalizados">
                                                Pedidos personalizados
                                            </a>
                                        </li> *@
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="PedidoPersonalizado"
                                               asp-action="MisEncargos">
                                                Mis encargos
                                            </a>
                                        </li>
                                        @* <li>
                                            <a class="dropdown-item"
                                               asp-controller="Artesano"
                                               asp-action="Dashboard">
                                                Tus ventas
                                            </a>
                                        </li> *@
                                        @* <li>
                                            <a class="dropdown-item"
                                               asp-controller="Producto"
                                               asp-action="AltaProducto">
                                                Agregar producto
                                            </a>
                                        </li> *@
                                        @* <li>
                                            <a class="dropdown-item"
                                               asp-controller="Artesano"
                                               asp-action="ProductosDelArtesano">
                                                Tus productos
                                            </a>
                                        </li> *@
                                        <li>
                                            <a class="dropdown-item text-danger fw-semibold"
                                               asp-controller="Artesano"
                                               asp-action="Logout">
                                                Cerrar sesión
                                            </a>
                                        </li>
                                    }

                                    @* ADMIN *@
                                    @if (rol == "ADMIN")
                                    {
                                        <li>
                                            <a class="dropdown-item text-danger fw-semibold"
                                               asp-controller="Admin"
                                               asp-action="Logout">
                                                Cerrar sesión
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>

                            <!--CARRITO-->
                            @if(rol == "CLIENTE")
                            {
                                <a class="nav-link position-relative d-flex align-items-center justify-content-center carrito"
                                   asp-controller="Carrito"
                                   asp-action="Index">

                                    <img src="~/images/carrito/carrito.png"
                                         alt="Carrito"
                                         style="width:28px; height:28px;" />

                                    @await Component.InvokeAsync("CarritoCantidad")

                                </a>
                            }
                        }
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid px-0">

        @if (TempData.ContainsKey("Mensaje"))
        {
            var tipo = "success";

            if (TempData.ContainsKey("TipoMensaje"))
            {
                tipo = TempData["TipoMensaje"]?.ToString() ?? "success";
            }

            <div class="alert alert-@tipo alert-dismissible fade show mx-3 mt-3" role="alert">
                @TempData["Mensaje"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }

        @* <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            @TempData["Mensaje"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div> *@

        <main role="main" class="flex pb-3-fill ">
            @RenderBody()
        </main>
    </div>


    <footer class="bg-dark text-light mt-auto">

        <div class="container py-3">

            <div class="row text-center text-md-start">

                <!-- INFO -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">Proyecto Integrador</h6>

                    <p class="small mb-0">
                        Plataforma académica de artesanos y clientes 💙
                    </p>
                </div>

                <!-- SOPORTE -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">Soporte</h6>

                    <a href="mailto:soporte@proyectointegrador.com"
                       class="text-decoration-none text-info small">

                        📧 soporte@proyectointegrador.com
                    </a>
                </div>

                <!-- INSTITUCIONAL -->
                <div class="col-md-4 mb-2">
                    <h6 class="fw-bold mb-1">Institucional</h6>

                    <p class="small mb-0">
                        📚 Proyecto académico<br />
                        ORT Uruguay — Ingeniería
                    </p>
                </div>

            </div>

            <hr class="border-secondary my-2" />

            <div class="text-center small">
                &copy; @DateTime.Now.Year — Proyecto Integrador
            </div>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>