@model ForgotPasswordViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory factory

@{
    var localizer = factory.Create("Resource", "ProyectoIntegrador_Web");
    ViewData["Title"] = localizer["RecuperarPassword"];
    Layout = "_LayoutLogin";
}

<div class="registro-card single">
    <div class="registro-form">
        <h2>@localizer["RecuperarPassword"]</h2>
        <p>@localizer["DescripcionRecuperarPassword"]</p>

        <form asp-action="OlvidePassword"
              method="post"
              class="js-loader"
              data-loader-text="@localizer["Enviando"]">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger small mb-2"></div>

            <div class="mb-3">
                <input asp-for="Email"
                       class="form-control"
                       placeholder="@localizer["Email"]" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-dark w-100">
                @localizer["EnviarEnlace"]
            </button>
        </form>
    </div>
</div>