@model ResetPasswordViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory factory

@{
    var localizer = factory.Create("Resource", "ProyectoIntegrador_Web");
    ViewData["Title"] = localizer["RestablecerPassword"];
    Layout = "_LayoutLogin";
}

<div class="registro-card single">
    <div class="registro-form">
        <h2>@localizer["NuevaPassword"]</h2>

        <form asp-action="ResetPassword"
              method="post"
              class="js-loader"
              data-loader-text="@localizer["Actualizando"]">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger small mb-2"></div>

            <input asp-for="Token" type="hidden" />

            <div class="mb-3">
                <input asp-for="NuevaPassword"
                       type="password"
                       class="form-control"
                       placeholder="@localizer["NuevaPassword"]" />
            </div>

            <div class="mb-3">
                <input asp-for="RepetirPassword"
                       type="password"
                       class="form-control"
                       placeholder="@localizer["RepetirPassword"]" />
            </div>

            <button type="submit" class="btn btn-dark w-100">
                @localizer["CambiarPassword"]
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}