@model ProyectoIntegrador_Web.Models.EliminarCuentaViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory factory

@{
    var localizer = factory.Create("Resource", "ProyectoIntegrador_Web");
    ViewData["Title"] = Localizer["DashboardArtesano"];
}
<h2 class="text-center text-danger mt-4">@localizer["EliminarCuenta"]</h2>

<p class="text-center">@localizer["IngresarCodigoCorreo"]</p>

@* 
<p class="text-center text-muted small">
    @Localizer["TextoEliminarProductos"] // (este no lo tenés en el resource, ojo)
</p> 
*@

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info">@TempData["Mensaje"]</div>
}

<form method="post" asp-action="EliminarCuenta">
    <input type="hidden" name="Email" value="@Model.Email" />

    <div class="mb-3">
        <label class="form-label">@localizer["CodigoVerificacion"]</label>
        <input type="text" name="Codigo" class="form-control" required />
    </div>

    <button class="btn btn-danger mt-2">
        @localizer["ConfirmarEliminacion"]
    </button>
</form>